* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 625%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Microsoft Yahei",sans-serif;
  font-size: .16rem;
}

.layout-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  a {
    color: #a870e0;
  }
}



@media screen and (max-width: 320px) {
  html {
    font-size: 560%;
  }
}